.framegamecard{
    border: red outset;
    border-radius: 10px;
    border-width: 10px;
    background-color: rgba(255,255,0, 0.7);
    background-size: 300px 400px;
    height: 410px;
    width: 300px;
    margin: 0 10px;
    flex: 0 0 calc(60% - 10px); 
    max-width: calc(60% - 10px); 
    overflow: hidden;
    animation: fade-in 0.5s ease-in-out;
    flex-direction: column;
    transition: all .3s ease-in-out;
}
.framegamecard:hover{
    transform: translateY(-10px);
}
.framegamecard:hover .cardtext{
    transition: all 0.3s ease-in-out;
    bottom: 0px;
}

.image img{
    border-radius: 10px;
    margin: 50px 50px 0px 5px;
    height: 150px;
    width: 200px;
    flex: 0 0 calc(100% - 10px); 
    max-width: calc(100% - 10px);
    object-fit: cover;
}

.cardtext{
    color: white;
    border: black;
    background-color: rgba(255, 100, 100, 0.6);
}

.cardtext h2 {
    background-color: black;
}
.cardtext .nameshow{
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
a{
    display: block;
    font-size: xx-large;
    text-align: center;
    color: #333;
    text-decoration: dashed;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



