.framegamecard{
    border: red outset;
    border-radius: 10px;
    border-width: 10px;
    background-color: rgba(255,255,0, 0.7);
    background-size: 400px 500px;
    height: 550px;
    width: 400px;
    margin: 0 70px;
    flex: 0 0 calc(60% - 10px); 
    max-width: calc(60% - 10px); 
}

.image img{
    border-radius: 10px;
    margin: 50px 50px 0px 5px;
    height: 300px;
    width: 400px;
    flex: 0 0 calc(100% - 10px); 
    max-width: calc(100% - 10px);
}

.cardtext{
    color: white;
    border: black;
    background-color: rgba(255, 100, 100, 0.6);
}

a{
    display: block;
    font-size: xx-large;
    text-align: center;
    color: #333;
    text-decoration: dashed;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

