
.form-container {
    width: 300px;
    margin: 0 auto;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    margin-right: 5px;
    font-size: 24px;
    font-weight: bold;
  }
  .form-label-fecha{
    color:white;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }
  .pestana-search {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
  }
  
  .pestana-search.active {
    border-bottom-color: blue; /* Color de la pestaña activa */
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .form-button {
    background-color: #ffd000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
  }
  .form-button-disabled {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: solid;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .form-button:hover {
    background-color: green;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }

  .errores {
    color: white;
  }

 .checklist {
  color: white;
 }

  .errores {
  color: red;
}

 .form-container textarea{
  margin-right: 100px;
 }

 .form-container.checklist {
  display: flex;
  flex-wrap: wrap;
 }
 .checklist2 {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
 }

 .form-container.checklist[type="checkbox"] {
  /* Define el ancho de cada columna */
  flex: 0 0 calc(33.33% - 10px); /* 33.33% para 3 columnas */
  margin-right: 10px; /* Espacio entre los checkboxes */
}

.form-container .fecha {
  display: flex;
  margin-right: 10em;
  width: 20em;
  
}

.form-container .fecha .form-input {
  margin-right: 5px;
  width: 35px;
  margin-top: 5px;
}