

.framepagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botonpagination {
    padding: 8px 12px;
    margin: 0 5px;
    background-color:goldenrod;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botonpaginationdisabled {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #70738b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}