
/* .contenedor {
    display: flex;
    flex-wrap: wrap;
    
} */
.contenedor {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 40px;
  gap: 10px;

}
.elemento {
    flex: 0 0 calc(18% - 5px); 
    margin: 5px;

}

.elemento:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.loadinghome {
  justify-content: center;
  margin-left: 400px;
  margin-top: 80px;
}

.botonpaginado {
  display: flex;
  list-style: georgian;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  
}

.pagenumber {
  color: white;
}