.framegame{
    border: rgb(212, 45, 11) inset;
    border-radius: 10px;
    border-width: 20px;
    background-color: black;
    width: 1000px;
    min-height: 500px;
    background-size: 1000px 1100px;
    padding-top: 5px;
    margin: 150px 100px 0px 300px;
    flex: 0 0 calc(60% - 10px); /* Establece el ancho de cada elemento de paginación */
    max-width: calc(100% - 10px); /* Establece el ancho máximo */
    
    
}
.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    margin: 20px 0px 0px 5px;
    height: 400;
    width: 100%;
    flex: 0 0 calc(100% - 10px); /* Establece el ancho de cada elemento de paginación */
    max-width: calc(100% - 10px); /* Establece el ancho máximo */
    
}

.cardtexto {
    color: white;
    border: black;
    background-color: black;
    word-wrap: break-word; /* Rompe palabras largas */
    overflow: hidden; /* Oculta el desbordamiento de texto */

}


.imagen img{
    border-radius: 10px;
    margin: 20px 0px 0px 5px;
    height: 400;
    width: 400 ;
    flex: 0 0 calc(100% - 10px); /* Establece el ancho de cada elemento de paginación */
    max-width: calc(100% - 10px); /* Establece el ancho máximo */
        
}